@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

.font-arvo {
    font-family: 'Arvo', serif;
}

#header, #video {
    height: 37rem;
}

#video {
    z-index: -1;
}

#video::after {
    background: rgba(70, 88, 93, 0.27);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#grid .item-grid {
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#grid .item-grid .img-item-grid {
    height: auto;
    min-height: 100%;
}

#about {
    background: rgba(70, 88, 93, 0.67);
    padding-top: 7rem;
    padding-bottom: 7rem;
    position: relative;
}

#about::before {
    background-image: url(../images/parallax.jpg);
    background-attachment: fixed;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}